body,
html {
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

.c-header {
  align-items: center;
  background-color: rgb(14, 14, 14);
  color: white;
  display: flex;
  height: 55px;
  opacity: 0.99;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.logo {
  padding: 0 30px 0 20px;
}

.logo img {
  height: 34px;
}

.nav {
  width: 100%;
}

.nav ul {
  height: 0;
  visibility: hidden;
  transition: max-height 0.15s ease-out;
}

.nav ul.active {
  background-color: rgb(14, 14, 14);
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 55px;
  transition: max-height 0.25s ease-in;
  visibility: visible;
  width: 100%;
  z-index: 999;
}

.nav ul.active li {
  padding: 20px;
  border-bottom: 1px solid rgb(30, 30, 30);
}

.nav ul.active li a i {
  font-size: 26px;
  margin-right: 30px;
}

@media (min-width: 1200px) {
  .nav ul {
    height: auto;
    visibility: visible;
    display: flex;
  }

  .nav ul.active {
    height: initial;
    position: relative;
    top: initial;
  }

  .nav ul.active li {
    padding: initial;
    border-bottom: none;
  }

  .nav ul.active li a i {
    font-size: 20px;
    margin-right: 10px;
  }
}

.nav .icon-nav {
  font-size: 26px;
}

@media (min-width: 1200px) {
  .nav .icon-nav {
    display: none;
  }
}

.nav ul li a {
  align-items: center;
  color: inherit;
  display: flex;
  height: 100%;
  padding: 0px 3.125rem 0px 0px;
  text-align: center;
  transform-origin: 0px 0px;
  transform: scale(1);
  text-decoration: none;
  font-size: 16px;
}

.nav ul li a:hover {
  transform: scale(1.05);
  text-shadow: rgba(255, 255, 255, 0.75) 0px 0px 5px;
  text-decoration: none;
}

.nav ul li a i {
  font-size: 20px;
  margin-right: 10px;
}

.search {
  padding-right: 20px;
}

.search i {
  font-size: 30px;
  cursor: pointer;
}

.search .box-search {
  align-items: center;
  display: flex;
  height: 55px;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: right center;
  transform: scaleX(0);
  transition: all 300ms ease 0s;
}

@media (min-width: 1200px) {
  .search .box-search {
    left: 70px;
  }
}

.search .box-search .search-item {
  align-items: center;
  background-color: white;
  display: flex;
  height: 55px;
  width: 100%;
  position: relative;
}

.search .box-search .search-item input {
  border: none;
  box-shadow: none;
  font-size: 20px;
  font-weight: bold;
  height: 55px;
  width: 100%;
}

.search .box-search .search-list {
  display: none;
}

.search .box-search .search-list.active {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.2) -2px 2px 3px, rgba(0, 0, 0, 0.2) 2px 2px 3px;
  display: initial;
  position: absolute;
  top: 57px;
  width: 100%;
}

.search .box-search .search-list .list-item {
  display: flex;
  text-decoration: none;
  transition: 0.5s;
}

.search .box-search .search-list .list-item:hover {
  background-color: #f5f5f5;
  transition: 0.5s;
}

.search .box-search .search-list .list-item .text {
  border-bottom: 1px solid rgb(199, 199, 199);
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  padding-bottom: 6px;
  padding-top: 10px;
  width: 100%;
}

.search .box-search .search-list .list-item img {
  width: 36px;
  margin-left: 10px;
  object-fit: contain;
}

.badge {
  background-color: rgb(238, 238, 238);;
  color: rgb(14, 14, 14);;
  display: inline-block;
  font-size: 10px;
  padding: 5px;
}

.search .box-search .search-list .list-item .text p {
  color: rgb(14, 14, 14);;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 0;
}

.search .box-search .icon-close {
  align-items: center;
  background: rgb(14, 14, 14);
  cursor: pointer;
  display: flex;
  font-size: 30px;
  height: 55px;
  justify-content: center;
  min-width: 55px;
}

.search .box-search .icon-search {
  cursor: inherit;
  color: rgb(14, 14, 14);
  padding: 20px;
}

.search .box-search.active {
  opacity: 1;
  transform: scaleX(1);
  flex: 1 1 0%;
  transition: all 300ms ease 0s
}

.banner {
  height: 540px;
  position: relative;
  width: 100%;
}

.banner img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.banner .text {
  display: none;
}

@media (min-width: 992px) {
  .banner .text {
    position: absolute;
    bottom: 0;
    color: white;
    left: 40px;
    border-left: 0.1rem solid rgba(255, 255, 255, 0.4);
    padding-left: 2.75rem;
    margin-bottom: 40px;
    display: inherit;
  }
}

.banner .text p {
  color: white;
  font-size: 1.875rem;
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1;
  margin-block-end: unset;
  margin-block-start: unset;
  margin: 0px;
  text-transform: uppercase;
}

.banner .text span {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.1875rem;
  margin: 0px;
  padding: 10px 0px 0px;
  display: block;
}

.banner .text .follow {
  display: flex;
  align-items: center;
  padding: 10px 0px 0px;
}

.banner .text .follow span {
  padding: 0;
  margin-right: 10px;
}

.banner .text .follow a {
  font-size: 26px;
  color: white;
  transition: 0.5s;
}

.banner .text .follow a:hover {
  color: #3b5998;
  transition: 0.5s;
}

.info {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
  background-color: rgb(26, 26, 26);
  color: rgb(255, 255, 255);
  padding-left: 20px;

}

.info .text {
  background: #1c1d1d;
  border-left: 0.1rem solid rgba(255, 255, 255, 0.4);
  padding-left: 20px;
}

.info p {
  color: white;
  font-size: 1.875rem;
  font-size: 1.8rem;
  font-weight: 800;
  line-height: 1;
  margin-block-end: unset;
  margin-block-start: unset;
  margin: 0px;
  text-transform: uppercase;
}

.info span {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.1875rem;
  margin: 0px;
  padding: 10px 0px 0px;
  display: block;
  color: white;
}

.info .text .follow {
  display: flex;
  align-items: center;
  padding: 10px 0px 0px;
}

.info .text .follow a {
  font-size: 20px;
  color: white;
  transition: 0.5s;
}

.info .text .follow span {
  padding: 0;
  margin-right: 10px;
}

.info .text .follow a:hover {
  color: #3b5998;
  transition: 0.5s;
}

@media (min-width: 992px) {
  .info {
    display: none;
  }
}

.list-desc {
  display: none;
}

@media (min-width: 992px) {
  .list-desc {
    height: 40px;
    position: sticky;
    top: 3.4375rem;
    z-index: 3;
    display: flex;
    align-items: center;
  }
}

.list-desc .title {
  background: rgb(255, 255, 255);
  color: rgb(55, 55, 55);
  height: 40px;
  padding: 0px 0px 0px 10px;
  display: flex;
  align-items: center;
  position: relative;
}

.list-desc .title::after {
  content: '';
  width: 0;
  height: 0;
  border-left: 20px solid #fff;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  position: absolute;
  right: -20px;
}

.list-desc .title p {
  font-size: 16px;
  font-weight: bold;
  padding: 0.657rem;
}

.list-desc .subnav {
  align-items: center;
  background: rgb(26, 26, 26);
  color: rgb(255, 255, 255);
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 0;
  height: 100%;
  justify-content: flex-end;
  line-height: normal;
}

.list-desc .subnav ul {
  align-items: center;
  display: flex;
  height: 100%;
  padding-right: 50px;
}

.list-desc .subnav ul li a {
  color: rgb(255, 255, 255);
  font-weight: 800;
  padding: 10.5px;
  text-decoration: none;
}

.about {
  background-color: rgb(30, 30, 30);
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}

@media (min-width: 992px) {
  .about {
    flex-direction: row;
  }
}

.about .img {
  text-align: center;
}

.about .img,
.about .text,
.about .wiki {
  padding: 2rem;
}

@media (min-width: 992px) {
  .about .img {
    flex: 1 1 0%;
    text-align: inherit;
  }

  .about .img img {
    display: block;
    margin: 0px auto;
    max-height: 100%;
    max-width: 100%;
    width: 16rem;
  }

  .about .text {
    flex: 2 1 0%;
  }

  .about .wiki {
    background-color: rgb(17, 19, 28);
    flex: 1 1 0%;
  }
}

.about .text h2 {
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  margin: 0px;
  padding: 0px 0px 1rem;
}

.about .text p {
  line-height: 1.5;
  font-weight: lighter;
}

.about .wiki .text-wiki {
  margin: 0px 0px 1rem;
}

.about .wiki .text-wiki h3 {
  color: rgb(255, 255, 255);
  font-size: 1.5625rem;
  font-weight: bold;
  margin: 0px 0px 0.5rem;
  text-transform: uppercase;
}

.about .wiki .text-wiki p {
  font-weight: lighter;
}

.ownit .title {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding-bottom: 22px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 22px;
}

@media (min-width: 992px) {
  .ownit .title {
    padding-left: 44px;
    padding-right: 44px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.ownit .title h2 {
  border-left: 0.1rem solid rgba(142, 142, 142, 0.8);
  font-size: 2.5rem;
  padding-left: 22px;
}

.ownit .cont {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 2.75rem;
}

@media (min-width: 992px) {
  .ownit .cont {
    padding-left: 2.75rem;
    padding-right: 2.75rem;
    padding-bottom: 2.75rem;
  }
}

.ownit .cont .category {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  padding: 0px 0px 0px 22px;
}

.ownit .cont .category .category-title {
  font-size: 1.25rem;
  font-weight: 800;
  margin: 0px;
  padding: 0.5rem 0px;
  text-transform: capitalize;
}

.ownit .cont .category .category-content .purchase-link {
  height: 40px;
  margin: 0.5rem 1rem 0.5rem 0px;
  float: left;
}

@media (min-width: 992px) {
  .ownit .cont .category .category-content .purchase-link {
    height: 80px;
  }
}

.ownit .cont .category .category-content .purchase-link a {
  display: block;
}

.ownit .cont .category .category-content .purchase-link a img {
  border-color: rgb(234, 234, 234);
  border-image: initial;
  border-style: solid;
  border-width: 1px;
  height: 40px;
}

@media (min-width: 992px) {
  .ownit .cont .category .category-content .purchase-link a img {
    height: 80px;
  }
}

.ownit .cont .category .category-content .purchase-link a img:hover {
  box-shadow: rgba(216, 216, 216, 0.5) 0px 6px 6px 0px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(145, 145, 145);
  border-image: initial;
}

.footer {
  background-color: rgb(26, 26, 26);
  clear: both;
  color: rgb(255, 255, 255);
  display: flex;
  font-size: 0.8125rem;
  flex-direction: column;
  padding: 20px;
}

@media (min-width: 992px) {
  .footer {
    flex-direction: row;
    padding: 0;
  }
}

.footer .section-left {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  padding-bottom: 20px;
  width: 100%;
  justify-content: center;
}

@media (min-width: 992px) {
  .footer .section-left {
    padding-left: 1.5rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    justify-content: initial;
  }
}

.footer .section-left img {
  height: 30px;
}

.footer .section-left p {
  padding-left: 10px;
}

.footer .section-right {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;

}

@media (min-width: 992px) {
  .footer .section-right {
    justify-content: flex-end;
  }
}

.footer .section-right ul {
  align-items: center;
  display: flex;
}

@media (min-width: 992px) {
  .footer .section-right ul {
    padding-right: 1.5rem;
  }
}

.footer .section-right ul li {
  font-size: 1rem;
  padding-left: 10px;
}

@media (min-width: 992px) {
  .footer .section-right ul li {
    padding-left: 16px;
  }
}

.footer .section-right ul li a {
  color: white;
  transition: 0.5s;
}

.footer .section-right ul li a i {
  font-size: 20px;
}

.footer .section-right ul li .fb:hover,
.footer .section-right ul li .ms:hover {
  color: #3b5998;
  transition: 0.5s;
}

.footer .section-right ul li .tw:hover {
  color: #00acee;
  transition: 0.5s;
}

.footer .section-right ul li .pin:hover {
  color: #c8232c;
  transition: 0.5s;
}

.footer .section-right ul li .ins:hover {
  color: #3f729b;
  transition: 0.5s;
}

.footer .section-right ul li .in:hover {
  color: #0e76a8;
  transition: 0.5s;
}

.footer .section-right ul li .yt:hover {
  color: #c4302b;
  transition: 0.5s;
}
